@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", false)
}

@section Styles{
    @RenderSection("Styles", false)
} 