<section class="latest-posts">
    <div class="container">
        <header>
            <h2>Our Columns per Type</h2>
            <p class="text-big">Click on a column type to view the columns.</p>
            <button class="btn btn-dark" onclick="getColumns('0')"><i class="fas fa-desktop"></i>&nbsp;&nbsp; Tech and Projects</button>
            <button class="btn btn-dark" onclick="getColumns('1')"><i class="fas fa-book-open"></i>&nbsp;&nbsp; Literary</button>
            <button class="btn btn-dark" onclick="getColumns('2')"><i class="fas fa-plane"></i>&nbsp;&nbsp; Travel and Reviews</button>
            <button class="btn btn-dark" onclick="getColumns('3')"><i class="fas fa-camera"></i>&nbsp;&nbsp; Gallery</button>
        </header>
        <div class="row" id="column-list">
            

        </div>
    </div>
</section>